* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image.jpg);
    background-size: cover;
}

.image {
    width: 100vh;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.form {
    width: 90%;
    height: 78%;
    margin: 40px;
    padding-top: 5vh;  
    padding-bottom: 5vh;
    background-image: url(image1.jpg);
    background-size: cover;
    border: 3px solid rgb(0, 225, 255);
    box-shadow: 0 0 50px aqua;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all;
}

.log-in,
.sign-in {
    font-size: 6vh;
    margin: 5vh;
    text-decoration: none;
    text-shadow: 0px 0px 2px;
    color: aqua;
    display: flex;
    justify-content: center;
}

.log-in:hover,
.sign-in:hover {
    text-decoration: underline;
}


/* UserName */
.user,
.pass {
    margin: 2vh;
    padding: 0px 3vh 0px 3vh ;
    display: flex;
    flex-direction: column;
    line-height: 8vh;
    color: aqua;
     font-size: 3.8vh; 
    /* font-size: 6rem; */

}

.user:hover,
.pass:hover {
    transform: scaleX(1.1);
    z-index: 1.2;
}

.name,
.password {
    width: 44vh;
    padding: 1.8vh;
    margin-left: 2vh;
    background: rgba(128, 128, 128, 0.205);
    color: white;
    border: none;
    border-bottom: 2px solid aqua;
    font-size: 3.4vh;
    font-style: italic;
    transition: all;
}


.name:hover,
.password:hover {
    background-color: white;
    color: black;
    border-bottom: 4px solid aqua;
}


/* Submit */
.submit {
    margin: 0vh;
    padding: 0px;
    background: transparent;
    border: none;
}

.submit-log-in {
    width: 45vh;
    margin: 5vh;
    margin-left:8vh;
    padding: 2vh 2vh 2vh 2vh;
    color: white;
    font-size: 3.5vh;
    border: 0.3vh solid aqua;
    border-radius: 4vh;
    
    height: auto;
    background: linear-gradient(black, aqua, black);
    z-index: -1;
    transform: .5s;
}

.submit-log-in:hover {
    background: linear-gradient(aqua, black, aqua);
    color: white;
    top: 0;
    transition: all;
}

hr {
    width: 45vh;
    margin-left: 8vh;
}

p {
    font-size: 3vh;
    color: aqua;
    text-align: center;
}

